# Node.js
/frontend/node_modules
/backend/node_modules
/frontend/build
npm-debug.log

# Python
/nlp-service/venv
/nlp-service/__pycache__
/nlp-service/report_cache.pkl
*.pyc
/nlp-service/test_gemini.py
/nlp-service/.env

# NLP Generated Data
/nlp-service/source_data.pkl
/nlp-service/source_index.faiss

# OS & Editor
/backend/.DS_Store
/backend/.env

# Uploads
/backend/uploads

# frontend
/frontend/.env

#Logs
/lh
/lh/*